html{
    box-sizing: border-box;
}

body {
    background-color: hsl(30, 38%, 92%);
    text-align: left;
}

p {
    font-size: 14px;
    color: hsl(228, 12%, 48%);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: hsl(212, 21%, 14%);
    margin: 10px 0 10px;
    font-family: 'Fraunces', serif;
}

.whole-content {
    width: 375px;
    margin: 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.perfume-image {
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

}

.desktop-perfume-image {
    display: none;
}

.bottom {
    background-color: white;
    border: 2px solid white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 10px 20px;

}

.price-section {
    display: flex;
    margin: 20px 0px 20px;
}

.price {
    font-size: 2.5rem;
    font-family: 'Fraunces', serif;
    color: hsl(158, 36%, 37%);
    margin-right: 20px;
}

#bottom-paragraph {
    line-height: 1.5;
    margin-bottom: 0;
}

#perfume {
    line-gap-override: 1px;
}

button {
    color: white;
    background-color: hsl(158, 36%, 37%);
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border: none;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    cursor: pointer;
    background-color: hsla(158, 36%, 37%, 0.801);
    transform: scale(1.02);
}

.cart {
    margin-right: 10px;
}

.attribution {
    position: relative;
    font-size: 0.8rem;
    background-color: hsl(30, 38%, 92%);
    padding: 7px 15px;
    border-radius: 5px;
    color: #1D2326;
}

@media(min-width: 375px) {

    .whole-content {
        position: absolute;
        display: flex;
        flex-direction: row;
        width: 560px;
        height: 450px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bottom {
        padding: 20px;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0px;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;

    }

    .perfume-image {
        display: none;
    }

    .desktop-perfume-image {
        display: flex;
        flex-direction: row;
        max-width: 50%;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }

    br {
        display: none;
    }
}